/*
 *= require_self
 */

body {
  background-color: black;
  color: white;
  font-family: 'Courier New', monospace;
}

ul {
  list-style-type: none;
  border: 1px solid rgba(255, 255, 255, 0.4);
  padding: 0px;

  li {
    border: 1px solid rgba(255, 255, 255, 0.4);
    padding: 4px 0px 4px 8px;
  }
}

#navbar {
  display: grid;
  grid-gap: 24px;
  grid-template-columns: 1fr 4fr 1fr;
  grid-template-areas: '. nav .';

  #nav {
    display: grid;
    grid-area: nav;
    grid-gap: 24px;
    grid-template-columns: 1fr 1fr;

    a {
      border: 1px solid rgba(255, 255, 255, 0.4);
      color: white;
      padding: 4px;
      text-align: center;
      text-decoration: none;
    }
  }
}

.container {
  display: grid;
  grid-gap: 24px;
  grid-template-columns: 1fr 4fr 1fr;

  .container {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

.active {
  background-color: blue;
}

.hover-locked {
  background-color: gray;
  color: white;
}

.hover-unlocked {
  background-color: palegreen;
  color: darkgreen;
}

.selected {
  background-color: white;
  color: black;
}

.unlocked {
  background-color: green;
}

.cursor-pointer {
  cursor: pointer;
}
